/vendor/
/node_modules/
.env
config.php
*.log
.DS_Store
Thumbs.db
/storage/music/*
!/storage/music/.gitkeep
/public/assets/images/covers/*
!/public/assets/images/covers/.gitkeep
/public/assets/css/output.css
package-lock.json
