<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier ou dossier demandé n'existe pas physiquement...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # ... on redirige tout vers index.php (le cœur de ton site)
    RewriteRule ^ index.php [L]
</IfModule>